.wsdm-range-slider .overlay {
  fill: #f4f4f4;
}

.wsdm-range-slider .selection {
  fill: #fee4e5;
}

.wsdm-range-slider .handle {
  fill: #212121;
}

.wsdm-range-slider-range-tip {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  font-size: .71em;
  padding: 0 2px;
}