
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  font: 15px/1.6 Helvetica, Arial, sans-serif;
}

.slider {
  min-height: 70px;
}

.result {
  font-size: 4em;
  text-align: center;
}

article {
  margin-bottom: 2em;
  padding-bottom: 5em;
}
